<link rel="stylesheet" href="/css/footer.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<footer class="footer">
    <div class="footer_container">
        
        <div class="footer_col">
            <a href="/" class="logo">Ronak</a>
            <p class="footer_text">
                Discover More. Experience More. Grow with
                the Real <span class="ronak_footer">Ronak</span> of Pakistan Together!
            </p>
            <div class="social_icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

        <div class="footer_col">
            <h4>Company</h4>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer_col">
            <h4>Services</h4>
            <ul>
                <li><a href="#">Event Lisitngs</a></li>
                <li><a href="#">Event Participation</a></li>
                <li><a href="#">Crowd Funding</a></li>
                <li><a href="#">Event ticketing</a></li>
            </ul>
        </div>

        <div class="footer_col">
            <h4>Events alerts</h4>
            <p class="footer_text">Be Ready to find Your Favourite Events Around you ! </p>
            <form class="newsletter_form">
                <input type="email" placeholder="Your email..." required>
                <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </form>
        </div>

    </div>

    <div class="footer_bar">
        Copyright ©  <%= new Date(Date.now()).getFullYear() %> <span class="ronak_footer">Ronak</span> Pvt L.t.d. All rights reserved.
    </div>
</footer>