<link rel="stylesheet" href="css/header.css">
<header>
    <a href="/" class="logo">Ronak</a>

    <input type="checkbox" id="nav-toggle" class="nav-toggle">

    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <nav class="header_nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/events">Hot Events</a></li>
            <li><a href="/guideline">Join Guideline</a></li>
            <!-- <li><a href="#">Contact</a></li> -->
            <li class="mobile-cta"><a href="#">Create event</a></li> 
        </ul>
    </nav>

    <div class="header_cta">
        <button>Create Event</button>
    </div>
</header>