<link rel="stylesheet" href="/css/header.css">
<header>
    <a href="/" class="logo">Ronak</a>

    <input type="checkbox" id="nav-toggle" class="nav-toggle">

    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <nav class="header_nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/events">Hot Events</a></li>
            <li><a href="/guideline">Join Guideline</a></li>
            <!-- <li><a href="#">Contact</a></li> -->
            <li class="mobile-cta"><a href="/create-event">Create event</a></li>
        </ul>
    </nav>
    <div class="header_cta">
        <button class="auth-trigger" id="auth_icon" aria-label="Login or Signup">
            <i class="fa-regular fa-circle-user"></i>
        </button>
        <a href="/create-event" class="create-event-btn"><button>Create Event</button></a>
    </div>

</header>