<link rel="stylesheet" href="css/header.css">
<header>
        <a href="#" class="logo">Ronak</a>

        <nav class="header_nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <div class="header_cta">
            <button>Get Started</button>
        </div>
    </header>