<link rel="stylesheet" href="css/header.css">
<header>
    <div class="header_logo">
        <span class="logo">Ronak</span>
    </div>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="#events">DISCOVER</a>
            </li>
            <li>
                <button type="button">CREATE EVENT</button>
            </li>
            <li>
                <button type="button">SIGN IN </button>
            </li>
        </ul>
    </nav>
</header>